@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root{
    --fonte1: 'Arimo', sans-serif;
    --fonte2: 'Marcellus', serif;
    --cor1: #f6dcdc;
    --cor2: #ffc3c3;
    --cor3: #B38484;
    --cor4: #97b497;
    --cor5: #4D6353;
}

*/ {
    font-family: var(--fonte1);
    font-size: 16px;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #f0c6c6, #97b497); 
    margin: auto;
}

main {
    
}

header {
    color: var(--cor5);
    text-align: center;
}

header > h1{
    padding-top: 20px;
    font-size: 7vw;
    border: 1.5px solid var(--cor5);
    margin-block-end: 0em;
    margin: 0px;
 }

header > p {
    font-size: 2vw;
    border-bottom: 1.5px solid var(--cor5);
    border-left: 1.5px solid var(--cor5);
    border-right: 1.5px solid var(--cor5);
    border-radius: 2px;
    padding: 4px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;   
}

section.wings > img{
    width: 98vw;
    height: 90vh; 
    padding-top: 0px;
    margin-top: 0px;
 }

 section.wings > h2 {
    font-family: var(--fonte2);
    font-size: 33px;
    width: 100vw;
    margin: 0px;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    top: 60%;
    right: 0.01%;
 }

 section.wings > p {
    font-family: var(--fonte1);
    font-size: 15px;
    width: 70vw;
    text-align: center;
    position: absolute;
    top: 80%;  
    right: 23%;
 }

section.core > img {
    width: 34vw;
    padding-left: 40px;
    text-align: left;
    position: absolute;
    top: 105%;   
}

section.core > h2 {
    font-family: var(--fonte1);
    font-size: 30px;
    margin: 0px;
    position: absolute;
    right: 10%;
    top: 112%;
}

section.core > p {
    font-family: var(--fonte1);
    font-size: 20px;
    text-align: center;
    width: 290px;
    position: absolute;
    left: 52%;
    top: 120%;
}

.botaocore {
    padding: 1px;
    margin: 1px;
    position: absolute;
    right: 18%;
    top: 152%;
}

section.pulodogato > img{
    position: relative;
    width: 39vw;
    padding-right: 20px;
    position: absolute;
    right: 1%;
    top: 175%;
}

section.pulodogato > h2{
    font-family: var(--fonte1);
    font-size: 32px;
    margin: 0px;
    text-align: left;
    width: 50vw;
    position: absolute;
    left: 10%;
    top: 182%;
}

section.pulodogato > p{
    display: flex;
    font-family: var(--fonte1);
    font-size: 20px;
    text-align: center;
    width: 50vw;
    position: absolute;
    left: 4%;
    top: 190%;
}

.botaogato {
    padding: 1px;
    margin: 1px;
    position: absolute;
    right: 65%;
    top: 225%;
}

section.tuli > img {
    width: 300px;
    display: inline;
    padding-left: 40px;
    text-align: left;
    position: absolute;
    left: 1%;
    top: 250%
}

section.tuli > h2{
    font-family: var(--fonte1);
    font-size: 30px;
    margin: 0px;
    position: absolute;
    right: 14%;
    top: 255%;
}

section.tuli > p{
    font-family: var(--fonte1);
    font-size: 20px;
    text-align: center;
    width: 290px;
    position: absolute;
    left: 52%;
    top: 265%;
}

.botaotuli {
    padding: 1px;
    margin: 1px;
    position: absolute;
    left: 68%;
    top: 295%;
}

section.asaseu > img{
    display: block;
    width: 100vw;
    height: 180px;
    position: absolute;
    top: 323%;
}

section.asaseu > h2 {
    font-family: var(--fonte2);
    font-size: 3.5vw;
    margin: 0px;
    text-align: center;
    position: absolute;
    top: 360%;
    left: 11%;
    padding-left: 40px;
}

section.asaseu > p {
    font-family: var(--fonte1);
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 370%;
    padding-left: 30px;
}

section.redes-sociais > h3 {
    font-family: var(--fonte2);
    font-size: 20px;
    color: var(--cor5);
    text-align: left;
    padding: 5px;
    margin: 0px;
    position: absolute;
    top: 376%;
    padding-left: 30px;
}

section.redes-sociais > p {
    font-family: var(--fonte2);
    font-size: 20px;
    color: var(--cor5);
    text-align: left;
    padding: 5px;
    margin: 0px;
    position: absolute;
    top: 382%;
    padding-left: 30px;
}

section.final > p {
    font-family: var(--fonte1);
    font-size: 15px;
    margin: 0px;
    position:absolute;
    top: 390%;
    padding-left: 30px;
   }

footer {
    display: block;
    width: 100vw;
    height: 6%;
    background-color: var(--cor5);
    color: var(--cor2);
    padding: 2px;
    position: absolute;
    top: 400%;
}

footer h2{
    font-size: medium;
    position: absolute;
    top: 6%;
    right: 40%;
}

footer p {
    font-size: small;
    margin: 0px;
    position: absolute;
    top: 30%;
    left: 3%;
}
